# Poistetaan tarpeeton Macin systeemitiedosto
.DS_Store

# Viikko 3, tehtava 3, kohta 4
*.tmp
__pycache__/
.pytest_cache/

# Viikko 1, tehtava 8, kohta 7
# coverage-tyokalun tiedostot
.coverage
htmlcov/
